
obj/project.assets.json
obj/project.nuget.cache
obj/PlayerViewer.csproj.nuget.g.targets
obj/PlayerViewer.csproj.nuget.g.props
obj/PlayerViewer.csproj.nuget.dgspec.json
obj/Debug/PlayerViewer.csproj.FileListAbsolute.txt
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/PlayerViewer/v17/.suo
.vs/PlayerViewer/FileContentIndex/read.lock
.vs/PlayerViewer/FileContentIndex/326a3afa-de3b-431c-84eb-dcc740872e3a.vsidx
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/BepInEx.AssemblyPublicizer.MSBuild.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/BepInEx.AssemblyPublicizer.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/AsmResolver.PE.File.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/AsmResolver.PE.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/AsmResolver.DotNet.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/netstandard2.1/AsmResolver.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/BepInEx.AssemblyPublicizer.MSBuild.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/BepInEx.AssemblyPublicizer.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/AsmResolver.PE.File.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/AsmResolver.PE.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/AsmResolver.DotNet.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/lib/net472/AsmResolver.dll
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/contentFiles/cs/any/IgnoresAccessChecksToAttribute.cs
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/build/BepInEx.AssemblyPublicizer.MSBuild.props
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/BepInEx.AssemblyPublicizer.MSBuild.0.4.1.nupkg
packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1/.signature.p7s
obj/Release/publicized/Assembly-CSharp.dll.md5
obj/Release/publicized/Assembly-CSharp.dll
obj/Release/PlayerViewer.pdb
obj/Release/PlayerViewer.dll
obj/Release/PlayerViewer.csproj.FileListAbsolute.txt
obj/Release/PlayerViewer.csproj.CoreCompileInputs.cache
obj/Release/PlayerViewer.csproj.CopyComplete
obj/Release/PlayerViewer.csproj.AssemblyReference.cache
obj/Debug/SpinExample.pdb
obj/Debug/SpinExample.dll
obj/Debug/SpinExample.csproj.FileListAbsolute.txt
obj/Debug/SpinExample.csproj.CoreCompileInputs.cache
obj/Debug/SpinExample.csproj.CopyComplete
obj/Debug/SpinExample.csproj.AssemblyReference.cache
obj/Debug/SpinCore.pdb
obj/Debug/SpinCore.dll
obj/Debug/SpinCore.csproj.FileListAbsolute.txt
obj/Debug/SpinCore.csproj.CoreCompileInputs.cache
obj/Debug/SpinCore.csproj.CopyComplete
obj/Debug/SpinCore.csproj.AssemblyReference.cache
obj/Debug/publicized/Assembly-CSharp.dll.md5
obj/Debug/publicized/Assembly-CSharp.dll
obj/Debug/PlayerViewer.pdb
obj/Debug/PlayerViewer.dll
obj/Debug/PlayerViewer.csproj.CoreCompileInputs.cache
obj/Debug/PlayerViewer.csproj.CopyComplete
obj/Debug/PlayerViewer.csproj.AssemblyReference.cache
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/.AssemblyReference.cache
BepInEx/plugins/0Harmony.dll
BepInEx/plugins/0Harmony.xml
BepInEx/plugins/Assembly-CSharp-firstpass.dll
BepInEx/plugins/Assembly-CSharp.dll
BepInEx/plugins/BepInEx.dll
BepInEx/plugins/BepInEx.xml
BepInEx/plugins/DOTween.dll
BepInEx/plugins/DOTween43.dll
BepInEx/plugins/DOTween46.dll
BepInEx/plugins/Mono.Cecil.dll
BepInEx/plugins/MonoMod.RuntimeDetour.dll
BepInEx/plugins/MonoMod.RuntimeDetour.xml
BepInEx/plugins/MonoMod.Utils.dll
BepInEx/plugins/MonoMod.Utils.xml
BepInEx/plugins/PlayerViewer.dll
BepInEx/plugins/PlayerViewer.pdb
BepInEx/plugins/UnityEngine.dll
BepInEx/plugins/UnityEngine.Networking.dll
BepInEx/plugins/UnityEngine.UI.dll
BuildOut/0Harmony.dll
BuildOut/0Harmony.xml
BuildOut/Assembly-CSharp-firstpass.dll
BuildOut/Assembly-CSharp.dll
BuildOut/BepInEx.dll
BuildOut/BepInEx.xml
BuildOut/DOTween.dll
BuildOut/DOTween43.dll
BuildOut/DOTween46.dll
BuildOut/Mono.Cecil.dll
BuildOut/MonoMod.RuntimeDetour.dll
BuildOut/MonoMod.RuntimeDetour.xml
BuildOut/MonoMod.Utils.dll
BuildOut/MonoMod.Utils.xml
BuildOut/PlayerViewer.dll
BuildOut/PlayerViewer.pdb
BuildOut/SpinExample.dll
BuildOut/SpinExample.pdb
BuildOut/UnityEngine.dll
BuildOut/UnityEngine.Networking.dll
BuildOut/UnityEngine.UI.dll
.vs/PlayerViewer/FileContentIndex/4c73393f-108a-41ef-96c2-91347d8affc9.vsidx
.vs/PlayerViewer/FileContentIndex/01d725a8-eb15-42ba-b4e5-de457b4e92a8.vsidx
.vs/PlayerViewer/config/applicationhost.config
